doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Buyer Dashboard
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    link(href='/css/dashboard.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Plasa Data
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Dashboard
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='/auth/logout') Logout
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          ul.nav.nav-sidebar
            li.active
              a(href='#') Overview
                span.sr-only (current)
            li
              a(href='#') Reports
            li
              a(href='#') Analytics
            li
              a(href='#') Export
          ul.nav.nav-sidebar
            li
              a(href='') Nav item
            li
              a(href='') Nav item again
            li
              a(href='') One more nav
            li
              a(href='') Another nav item
            li
              a(href='') More navigation
          ul.nav.nav-sidebar
            li
              a(href='') Nav item again
            li
              a(href='') One more nav
            li
              a(href='') Another nav item
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          h1.page-header Dashboard
          .row
            .col-md-12
                if error
                    div.alert.alert-danger #{error}
                div Name:&nbsp;
                    span #{customer.firstName} #{customer.lastName}
                div Balance:&nbsp;
                    span Rp #{customer.balance}
                div
                    form(action='buyer/payment', method='GET')
                        div Rp&nbsp;
                            input(name='topup_amount', placeholder='1000000')
                            button#topup-button.btn.btn-info Topup

    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/ie10-viewport-bug-workaround.js')
