doctype html
html
  head
    meta(charset='utf-8')
    title Not authorized
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/blog-home.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .h1 You are not authorized to access the page
