doctype html
html
  head
    meta(charset='utf-8')
    title Plasa Data Home
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    .container
        h1.page-header Plasa Data
        div Started: #{status.started}
        div Up-time: #{status.uptime} seconds
        div Go to
            span &nbsp;
            a(href='explorer') API Explorer
            span &nbsp;
            span or
            span &nbsp;
            a(href='auth/login') Web Application
